* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ul-list {
  background-color: rgb(47, 156, 133);
  border: 2px solid rgb(30, 163, 187);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
